main
  .card-right-job-detail
    margin-bottom: 50px
    min-height: 600px
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2)
    background-color: #F4F4F4

    .container
      margin-top: 0px
      margin: 0px

    .jumbotron-job-detail
      background: #F3F3F3
      height: 100px

    .jumbotron:after
      content: none
