@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}

.btn-primary {
  background: #0076DE;
}

header nav {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

header nav .navbar-brand {
  font-weight: 500;
}

header nav .navbar-brand span {
  color: #E67815;
}

header nav .navbar-nav {
  margin-left: auto;
  overflow: hidden;
}

header nav .navbar-nav a {
  margin-right: 50px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
}

header nav .navbar-nav a:nth-child(3) {
  margin-right: 0px;
}

header nav .navbar-nav a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  border-bottom: 2px solid #E67815;
}

header nav .navbar-nav .btn {
  border-radius: 200px;
  width: 100%;
  background: #E67815;
  margin-right: 0px;
}

header nav .navbar-nav .btn:hover {
  background: #ff8202;
  border-bottom: none;
  -webkit-transform: none;
          transform: none;
  margin-bottom: 1px;
}

.jumbotron-company {
  background-image: url("https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  height: 706px;
  width: 100%;
  background-size: cover;
  position: relative;
}

.jumbotron-company .container {
  position: relative;
  z-index: 1;
}

.jumbotron-company .card {
  margin-top: 150px;
}

.jumbotron-company .card form label {
  font-weight: 600;
}

.jumbotron-company .card form span {
  font-size: 12px;
  width: 65%;
  display: block;
}

.jumbotron-company::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  -webkit-filter: 50%;
          filter: 50%;
}

main .company-promo {
  margin-top: 100px;
  margin-bottom: 100px;
}

main .company-promo .content-company-promo p {
  width: 70%;
}

main h4 {
  display: block;
}

main .temukan-orang .card-img-top {
  height: 200px;
}

main .bg-custom-secondary {
  background-color: #F1F1F1 !important;
}

footer {
  background: #322D2D;
  color: #FDFDFD;
}

footer h3 {
  font-size: 18px;
}

footer p {
  width: 113px;
}

footer a {
  color: #AABCFB;
}

footer .bg-gray {
  background: #4B4A4A;
  font-size: 12px;
  padding: 8px 0;
}

.modal h4 {
  font-size: 24px;
  font-weight: bold;
}

.modal p {
  color: #696969;
  font-size: 16px;
}

.modal-body a {
  color: black;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.modal-body a:hover {
  text-decoration: none;
}

.form-check-inline {
  margin-top: -100px;
}

.bg-form-input {
  background: rgba(51, 51, 51, 0.06);
}
/*# sourceMappingURL=stylecompany.css.map */